.top{
    background-image: linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
}



.image-container-1:hover{
   transform: scale(1.1);
}

.image-container-2:hover{
    transform: scale(1.1);
}

.image-container-3:hover{
    transform: scale(1.1);
}

.btn-2{
    margin-top: 13px;
}

.btn-3{
    margin-top: 34px;
}

.slide-img{
   object-fit: cover;
   overflow: hidden;
   
   
}

