.top{
    background-image: linear-gradient(to right, rgba(235, 186, 23, 0.667), rgb(255, 255, 255));
}



.image-container-1:hover{
   transform: scale(1.1);

}

.image-container-2:hover{
    transform: scale(1.1);
}

.image-container-3:hover{
    transform: scale(1.1);
}

.list-item:hover{
    
    border-bottom: 2px solid white;
    transition: 5ms;
}

.arrow{
    animation-name: moveDown;
    animation-duration: 3s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes moveDown {
    0%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(30px);
    }
}

